/*!
 * Bespoke.js Demo Themes
 *
 * These styles are hard-coded to be pre-processor agnostic.
 * In reality, you should probably use -prefix-free or LESS / SCSS / Stylus.
 *
 * This is only scratching the surfact of what can be done.
 * Be creative and make something that surprises people! ;)
 *
 */

/* Cube Theme */
.cube {
	background: rgba(86, 174, 231, 0.3);
}
.cube section,
.cube .arrow:hover {
	background: rgb(86, 174, 231);
}
.cube a {
	color: rgb(86, 174, 231);
}
.cube section.bespoke-before {
	-webkit-transform: translateX(-332px) rotateY(-70deg) translateX(-652px) rotateY(-110deg) translateX(-530px);
	-moz-transform: translateX(-332px) rotateY(-70deg) translateX(-652px) rotateY(-110deg) translateX(-530px);
	-ms-transform: translateX(-332px) rotateY(-70deg) translateX(-652px) rotateY(-110deg) translateX(-530px);
	-o-transform: translateX(-332px) rotateY(-70deg) translateX(-652px) rotateY(-110deg) translateX(-530px);
	transform: translateX(-332px) rotateY(-70deg) translateX(-652px) rotateY(-110deg) translateX(-530px);
}
.cube section.bespoke-before-1 {
	-webkit-transform: translateX(-332px) rotateY(-70deg) translateX(-512px);
	-moz-transform: translateX(-332px) rotateY(-70deg) translateX(-512px);
	-ms-transform: translateX(-332px) rotateY(-70deg) translateX(-512px);
	-o-transform: translateX(-332px) rotateY(-70deg) translateX(-512px);
	transform: translateX(-332px) rotateY(-70deg) translateX(-512px);
	opacity: 0.5;
}
.cube section.bespoke-after {
	-webkit-transform: translateX(332px) rotateY(70deg) translateX(652px) rotateY(110deg) translateX(530px);
	-moz-transform: translateX(332px) rotateY(70deg) translateX(652px) rotateY(110deg) translateX(530px);
	-ms-transform: translateX(332px) rotateY(70deg) translateX(652px) rotateY(110deg) translateX(530px);
	-o-transform: translateX(332px) rotateY(70deg) translateX(652px) rotateY(110deg) translateX(530px);
	transform: translateX(332px) rotateY(70deg) translateX(652px) rotateY(110deg) translateX(530px);
}
.cube section.bespoke-after-1 {
	-webkit-transform: translateX(332px) rotateY(70deg) translateX(512px);
	-moz-transform: translateX(332px) rotateY(70deg) translateX(512px);
	-ms-transform: translateX(332px) rotateY(70deg) translateX(512px);
	-o-transform: translateX(332px) rotateY(70deg) translateX(512px);
	transform: translateX(332px) rotateY(70deg) translateX(512px);
	opacity: 0.5;
}

/* Concave Theme */
.concave {
	background: rgba(235, 156, 184, 0.3);
}
.concave section,
.concave .arrow:hover {
	background: rgb(235, 156, 184);
}
.concave a {
	color: rgb(235, 156, 184);
}
.concave section.bespoke-before {
	-webkit-transform: translateX(-800px) rotateY(90deg) translateX(-800px);
	-moz-transform: translateX(-800px) rotateY(90deg) translateX(-800px);
	-ms-transform: translateX(-800px) rotateY(90deg) translateX(-800px);
	-o-transform: translateX(-800px) rotateY(90deg) translateX(-800px);
	transform: translateX(-800px) rotateY(90deg) translateX(-800px);
}
.concave section.bespoke-before-1 {
	-webkit-transform: translateX(-310px) rotateY(58deg) translateX(-240px);
	-moz-transform: translateX(-310px) rotateY(58deg) translateX(-240px);
	-ms-transform: translateX(-310px) rotateY(58deg) translateX(-240px);
	-o-transform: translateX(-310px) rotateY(58deg) translateX(-240px);
	transform: translateX(-310px) rotateY(58deg) translateX(-240px);
	opacity: 0.4
}
.concave section.bespoke-after {
	-webkit-transform: translateX(800px) rotateY(-90deg) translateX(800px);
	-moz-transform: translateX(800px) rotateY(-90deg) translateX(800px);
	-ms-transform: translateX(800px) rotateY(-90deg) translateX(800px);
	-o-transform: translateX(800px) rotateY(-90deg) translateX(800px);
	transform: translateX(800px) rotateY(-90deg) translateX(800px);
}
.concave section.bespoke-after-1 {
	-webkit-transform: translateX(310px) rotateY(-58deg) translateX(240px);
	-moz-transform: translateX(310px) rotateY(-58deg) translateX(240px);
	-ms-transform: translateX(310px) rotateY(-58deg) translateX(240px);
	-o-transform: translateX(310px) rotateY(-58deg) translateX(240px);
	transform: translateX(310px) rotateY(-58deg) translateX(240px);
	opacity: 0.4
}

/* Coverflow Theme */
.coverflow {
	background: rgba(42, 206, 185, 0.2);
}
.coverflow section,
.coverflow .arrow:hover {
	background: rgb(42, 206, 185);
}
.coverflow a {
	color: rgb(42, 206, 185);
}
.coverflow section.bespoke-before {
	-webkit-transform: translateZ(-350px) translateX(-400px) rotateY(45deg);
	-moz-transform: translateZ(-350px) translateX(-400px) rotateY(45deg);
	-ms-transform: translateZ(-350px) translateX(-400px) rotateY(45deg);
	-o-transform: translateZ(-350px) translateX(-400px) rotateY(45deg);
	transform: translateZ(-350px) translateX(-400px) rotateY(45deg);
	z-index: 6;
}
.coverflow section.bespoke-before-3 {
	-webkit-transform: translateZ(-350px) translateX(-340px) rotateY(45deg);
	-moz-transform: translateZ(-350px) translateX(-340px) rotateY(45deg);
	-ms-transform: translateZ(-350px) translateX(-340px) rotateY(45deg);
	-o-transform: translateZ(-350px) translateX(-340px) rotateY(45deg);
	transform: translateZ(-350px) translateX(-340px) rotateY(45deg);
	opacity: 0.1;
	z-index: 7;
}
.coverflow section.bespoke-before-2 {
	-webkit-transform: translateZ(-350px) translateX(-280px) rotateY(45deg);
	-moz-transform: translateZ(-350px) translateX(-280px) rotateY(45deg);
	-ms-transform: translateZ(-350px) translateX(-280px) rotateY(45deg);
	-o-transform: translateZ(-350px) translateX(-280px) rotateY(45deg);
	transform: translateZ(-350px) translateX(-280px) rotateY(45deg);
	opacity: 0.2;
	z-index: 8;
}
.coverflow section.bespoke-before-1 {
	-webkit-transform: translateZ(-350px) translateX(-220px) rotateY(45deg);
	-moz-transform: translateZ(-350px) translateX(-220px) rotateY(45deg);
	-ms-transform: translateZ(-350px) translateX(-220px) rotateY(45deg);
	-o-transform: translateZ(-350px) translateX(-220px) rotateY(45deg);
	transform: translateZ(-350px) translateX(-220px) rotateY(45deg);
	opacity: 0.3;
	z-index: 9;
}
.coverflow section.bespoke-active {
	z-index: 10;
}
.coverflow section.bespoke-after {
	-webkit-transform: translateZ(-350px) translateX(400px) rotateY(-45deg);
	-moz-transform: translateZ(-350px) translateX(400px) rotateY(-45deg);
	-ms-transform: translateZ(-350px) translateX(400px) rotateY(-45deg);
	-o-transform: translateZ(-350px) translateX(400px) rotateY(-45deg);
	transform: translateZ(-350px) translateX(400px) rotateY(-45deg);
	z-index: 6;
}
.coverflow section.bespoke-after-1 {
	-webkit-transform: translateZ(-350px) translateX(220px) rotateY(-45deg);
	-moz-transform: translateZ(-350px) translateX(220px) rotateY(-45deg);
	-ms-transform: translateZ(-350px) translateX(220px) rotateY(-45deg);
	-o-transform: translateZ(-350px) translateX(220px) rotateY(-45deg);
	transform: translateZ(-350px) translateX(220px) rotateY(-45deg);
	opacity: 0.3;
	z-index: 9;
}
.coverflow section.bespoke-after-2 {
	-webkit-transform: translateZ(-350px) translateX(280px) rotateY(-45deg);
	-moz-transform: translateZ(-350px) translateX(280px) rotateY(-45deg);
	-ms-transform: translateZ(-350px) translateX(280px) rotateY(-45deg);
	-o-transform: translateZ(-350px) translateX(280px) rotateY(-45deg);
	transform: translateZ(-350px) translateX(280px) rotateY(-45deg);
	opacity: 0.2;
	z-index: 8;
}
.coverflow section.bespoke-after-3 {
	-webkit-transform: translateZ(-350px) translateX(340px) rotateY(-45deg);
	-moz-transform: translateZ(-350px) translateX(340px) rotateY(-45deg);
	-ms-transform: translateZ(-350px) translateX(340px) rotateY(-45deg);
	-o-transform: translateZ(-350px) translateX(340px) rotateY(-45deg);
	transform: translateZ(-350px) translateX(340px) rotateY(-45deg);
	opacity: 0.1;
	z-index: 7;
}

/* Classic Theme */
.classic {
	background: rgba(243, 111, 86, 0.2);
}
.classic section,
.classic .arrow:hover {
	background: rgb(243, 111, 86);
}
.classic a {
	color: rgb(243, 111, 86);
}
.classic section.bespoke-before {
	-webkit-transform: translate3d(-1920px, 0, 0);
	-moz-transform: translate3d(-1920px, 0, 0);
	-ms-transform: translate3d(-1920px, 0, 0);
	-o-transform: translate3d(-1920px, 0, 0);
	transform: translate3d(-1920px, 0, 0);
}
.classic section.bespoke-before-2 {
	-webkit-transform: translate3d(-1280px, 0, 0);
	-moz-transform: translate3d(-1280px, 0, 0);
	-ms-transform: translate3d(-1280px, 0, 0);
	-o-transform: translate3d(-1280px, 0, 0);
	transform: translate3d(-1280px, 0, 0);
	opacity: 0.1;
}
.classic section.bespoke-before-1 {
	-webkit-transform: translate3d(-640px, 0, 0);
	-moz-transform: translate3d(-640px, 0, 0);
	-ms-transform: translate3d(-640px, 0, 0);
	-o-transform: translate3d(-640px, 0, 0);
	transform: translate3d(-640px, 0, 0);
	opacity: 0.3;
}
.classic section.bespoke-after {
	-webkit-transform: translate3d(1920px, 0, 0);
	-moz-transform: translate3d(1920px, 0, 0);
	-ms-transform: translate3d(1920px, 0, 0);
	-o-transform: translate3d(1920px, 0, 0);
	transform: translate3d(1920px, 0, 0);
}
.classic section.bespoke-after-2 {
	-webkit-transform: translate3d(1280px, 0, 0);
	-moz-transform: translate3d(1280px, 0, 0);
	-ms-transform: translate3d(1280px, 0, 0);
	-o-transform: translate3d(1280px, 0, 0);
	transform: translate3d(1280px, 0, 0);
	opacity: 0.1;
}
.classic section.bespoke-after-1 {
	-webkit-transform: translate3d(640px, 0, 0);
	-moz-transform: translate3d(640px, 0, 0);
	-ms-transform: translate3d(640px, 0, 0);
	-o-transform: translate3d(640px, 0, 0);
	transform: translate3d(640px, 0, 0);
	opacity: 0.3;
}

/* Carousel Theme */
.carousel {
	background: rgba(121, 255, 0, 0.2);
}
.carousel section,
.carousel .arrow:hover {
	background: rgb(131, 199, 69);
}
.carousel a {
	color: rgb(131, 199, 69);
}
.carousel section.bespoke-before {
	-webkit-transform: translateX(-980px) rotateY(-72deg) translateX(-1290px);
	-moz-transform: translateX(-980px) rotateY(-72deg) translateX(-1290px);
	-ms-transform: translateX(-980px) rotateY(-72deg) translateX(-1290px);
	-o-transform: translateX(-980px) rotateY(-72deg) translateX(-1290px);
	transform: translateX(-980px) rotateY(-72deg) translateX(-1290px);
	opacity: 0;
}
.carousel section.bespoke-before-2 {
	-webkit-transform: translateX(-590px) rotateY(-52deg) translateX(-780px);
	-moz-transform: translateX(-590px) rotateY(-52deg) translateX(-780px);
	-ms-transform: translateX(-590px) rotateY(-52deg) translateX(-780px);
	-o-transform: translateX(-590px) rotateY(-52deg) translateX(-780px);
	transform: translateX(-590px) rotateY(-52deg) translateX(-780px);
	opacity: 0.3;
}
.carousel section.bespoke-before-1 {
	-webkit-transform: translateX(-270px) rotateY(-30deg) translateX(-290px);
	-moz-transform: translateX(-270px) rotateY(-30deg) translateX(-290px);
	-ms-transform: translateX(-270px) rotateY(-30deg) translateX(-290px);
	-o-transform: translateX(-270px) rotateY(-30deg) translateX(-290px);
	transform: translateX(-270px) rotateY(-30deg) translateX(-290px);
	opacity: 0.5;
}
.carousel section.bespoke-after {
	-webkit-transform: translateX(980px) rotateY(72deg) translateX(1290px);
	-moz-transform: translateX(980px) rotateY(72deg) translateX(1290px);
	-ms-transform: translateX(980px) rotateY(72deg) translateX(1290px);
	-o-transform: translateX(980px) rotateY(72deg) translateX(1290px);
	transform: translateX(980px) rotateY(72deg) translateX(1290px);
	opacity: 0;
}
.carousel section.bespoke-after-1 {
	-webkit-transform: translateX(270px) rotateY(30deg) translateX(290px);
	-moz-transform: translateX(270px) rotateY(30deg) translateX(290px);
	-ms-transform: translateX(270px) rotateY(30deg) translateX(290px);
	-o-transform: translateX(270px) rotateY(30deg) translateX(290px);
	transform: translateX(270px) rotateY(30deg) translateX(290px);
	opacity: 0.5;
}
.carousel section.bespoke-after-2 {
	-webkit-transform: translateX(590px) rotateY(52deg) translateX(780px);
	-moz-transform: translateX(590px) rotateY(52deg) translateX(780px);
	-ms-transform: translateX(590px) rotateY(52deg) translateX(780px);
	-o-transform: translateX(590px) rotateY(52deg) translateX(780px);
	transform: translateX(590px) rotateY(52deg) translateX(780px);
	opacity: 0.3;
}